body {
    margin: 0;
    font-size: 16px;
    background-color: darkslategray;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    margin: 0;
    font-size: 3.2rem;
    color: tomato;
}

header {
    text-align: center;
    padding: 15px 15px 0;
    border-bottom: 2px solid #222222;
}

header button {
    background-color: #222222;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    border-top: 2px solid #222222;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
}

#content {
    text-align: center;
    flex: 1;
}

#content > p {
    font-size: 2.2rem;
    color: #ffffff;
}

.hero {
    margin-top: 25px;
    background-image: url(../images/restaurant.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

ul {
    padding: 15px;
    margin: 0;
}

li {
    list-style: none;
    font-size: 1.2rem;
}

.hero li {
    margin: 40px;
    font-size: 2rem;
    color: tomato;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: sans-serif;
    font-weight: 600;
}

.quote-container {
    background-color: #222222;
    padding: 25px;
}

.quote {
    font-size: 1.8rem;
}

.hours > p {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0;
}

.address-container {
    background-color: #222222;
    padding: 20px;
}

footer {
    background-color: tomato;
    color: #000000;
    padding: 5px 15px;
    text-align: center;
}

.menu-container,
.contact-container {
    width: clamp(300px, 60%, 800px);
    justify-self: center;
    border: 2px solid black;
    border-radius: 15px;
    margin: 50px 0;
    background-color: lightslategray;
}

.contact-container {
    display: grid;
}

.menu-container {
    padding: 20px;
}

.menu-container h2 {
    color: #222222;
}

.menu-container li {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}

.menu-container li p:first-of-type {
    text-align: left;
}

.menu-container li p:last-of-type {
    text-align: right;
}